@import url("https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alatsi&family=Palanquin+Dark:wght@400;500&display=swap");

.row,
.row>* {
  margin: 0 !important;
  padding: 0;
}

#menu {
  max-width: calc(100vw - 5vw);
}

.elm-button {
  margin-left: 15px;
  border-radius: 40px;
  background-color: #eaba20 !important;
  font-family: Alatsi, sans-serif;
  color: #415e74;
}

.menu-button>span:last-child {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;
}

.menu-button:hover>span:last-child {
  max-width: 10rem;
}

@media (max-width: 769px) {
  .af-class-pargraph2node {
    margin-top: 0px !important;
    margin-left: 0px !important;
    text-align: left;
  }
}

@media screen and (max-width: 991px) {
  .af-view .af-class-navigation-items {
    position: relative;
  }

  .af-view .af-class-navigation-items .af-class-navigation-wrap {
    position: absolute;
    top: 60px;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.6s;
    transition: max-height 0.6s;
  }

  .af-view .af-class-navigation-items .af-class-navigation-wrap.open {
    max-height: 700px;
  }

  .af-view .af-class-navigation-items .af-class-navigation-wrap nav {
    border-radius: 0 0 50px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 10px;
    width: 100%;
  }

  .af-view .af-class-navigation-items .af-class-navigation-wrap nav a {
    padding: 0px;
    margin: 10px;
  }

  .af-view .af-class-navigation-items .af-class-navigation-wrap nav a.menu-button {
    padding: 9px 15px;
  }
}

.af-view .af-class-divlineroadmap1 {
  position: initial;
  height: 100%;
}

.af-class-divdecoroadmap {
  width: auto;
  min-width: 50px;
  max-width: 50px;
}

#select-pickaxe {
  background-color: #415e74;
  border-radius: 1000px;
  padding: 0px !important;
}

#select-pickaxe img {
  padding: 10px;
  max-height: 50px;
  cursor: pointer;
}

#select-pickaxe .selected {
  background-color: #eaba20;
  border-radius: 1000px;
}

#select-pickaxe a {
  max-width: 50px;
  margin-left: auto;
  margin-right: auto;
}

#gear-1 {
  -webkit-transform: none;
  transform: none;
  -webkit-animation: rotation1 10s infinite linear;
  animation: rotation1 10s infinite linear;
}

#explorer #results-container {
  display: flex !important;
  flex-direction: row;
  align-items: start;
  justify-content: center;
}

@-webkit-keyframes rotation1 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
}

@keyframes rotation1 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
}

#gear-2 {
  -webkit-transform: none;
  transform: none;
  -webkit-animation: rotation2 10s infinite linear;
  animation: rotation2 10s infinite linear;

}

@-webkit-keyframes rotation2 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes rotation2 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

#footer-img {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media (max-width: 500px) {
  #footer-link {
    padding: 30px 0;
    grid-row-gap: 0px;
  }

  #footer-link>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
}

/* */
#explorer {
  overflow-x: hidden;
  background-color: #212121;
  min-height: 100vh;
  padding-top: 200px;
  color: white;
  margin-right: auto;
  margin-left: auto;
}

#explorer video {
  -o-object-fit: fill;
  object-fit: fill;
  width: 100%;
  border-radius: 0px;
  display: block;
}

#explorer #miner-list {
  max-width: 1500px;
}

#explorer #filters>div {
  max-width: 420px;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 10px;
  border-radius: 30px;
  width: 100%;
  min-height: 300px;
  border-color: #eaba20;
  border-style: solid;
  border-width: 3px;
}

#explorer #filters>div p {
  margin-top: 10px;
  margin-bottom: 1px;
}

@media (max-width: 575px) {
  #explorer #filters {
    overflow: hidden;
    max-height: 0px;
    -webkit-transition: max-height 0.8s;
    transition: max-height 0.8s;
  }

  #explorer #filters.open {
    max-height: 1000px;
  }
}

#explorer #header {
  position: sticky;
  width: 80%;
  margin: auto;
  background: #415e74;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10px 40px;
}

#explorer #header #count {
  font-size: 35px;
  line-height: 32px;
  font-weight: bold;
}

#explorer #header #miners {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

#explorer .miner-item {
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 7px 6px #415e74;
  box-shadow: 0 0 7px 6px #415e74;
  border-color: #eaba20;
  border-style: solid;
  border-width: 5px;
  position: relative;
  cursor: pointer;
}

#explorer .miner-item .rank,
#explorer .miner-item .id {
  position: absolute;
  padding: 1px 10px;
  background-color: #eaba20;
  bottom: 4%;
  right: 0;
  border-radius: 4px 0 0 4px;
  color: #415e74
}

#explorer .miner-item .rank.rank,
#explorer .miner-item .id.rank {
  bottom: calc(4% + 30px + 2%);
}