@import url("https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alatsi&family=Palanquin+Dark:wght@400;500&display=swap");

.row,
.row>* {
  margin: 0 !important;
  padding: 0;
}


/* MUI */
legend {
  width: auto !important;
}

.MuiSelect-select {
  padding: 5px 32px 5px 16px !important;
  color: white !important;
}

.MuiOutlinedInput-root svg,
.MuiOutlinedInput-root path {
  fill: white !important;
}

/* MUI END */
/* */
#menu {
  max-width: calc(100vw - 5vw);
}

.elm-button {
  margin-left: 15px;
  border-radius: 40px;
  background-color: #eaba20 !important;
  font-family: Alatsi, sans-serif;
  color: #415e74;
}

.menu-button>span:last-child {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;
}

.menu-button:hover>span:last-child {
  max-width: 10rem;
}

@media (max-width: 769px) {
  .af-class-pargraph2node {
    margin-top: 0px !important;
    margin-left: 0px !important;
    text-align: left;
  }
}

@media screen and (max-width: 991px) {
  .af-view .af-class-navigation-items {
    position: relative;
  }

  .af-view .af-class-navigation-items .af-class-navigation-wrap {
    position: absolute;
    top: 60px;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.6s;
    transition: max-height 0.6s;
  }

  .af-view .af-class-navigation-items .af-class-navigation-wrap.open {
    max-height: 700px;
  }

  .af-view .af-class-navigation-items .af-class-navigation-wrap nav {
    border-radius: 0 0 50px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 10px;
    width: 100%;
  }

  .af-view .af-class-navigation-items .af-class-navigation-wrap nav a {
    padding: 0px;
    margin: 10px;
  }

  .af-view .af-class-navigation-items .af-class-navigation-wrap nav a.menu-button {
    padding: 9px 15px;
  }
}

.af-view .af-class-divlineroadmap1 {
  position: initial;
  height: 100%;
}

.af-class-divdecoroadmap {
  width: auto;
  min-width: 50px;
  max-width: 50px;
}

#select-pickaxe {
  background-color: #415e74;
  border-radius: 1000px;
  padding: 0px !important;
}

#select-pickaxe img {
  padding: 10px;
  max-height: 50px;
  cursor: pointer;
}

#select-pickaxe .selected {
  background-color: #eaba20;
  border-radius: 1000px;
  background: green;
}

#select-pickaxe a {
  max-width: 50px;
  margin-left: auto;
  margin-right: auto;
}

#gear-1 {
  -webkit-transform: none;
  transform: none;
  -webkit-animation: rotation1 10s infinite linear;
  animation: rotation1 10s infinite linear;
}

#explorer #results-container {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
}

@-webkit-keyframes rotation1 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
}

@keyframes rotation1 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
}

#gear-2 {
  -webkit-transform: none;
  transform: none;
  -webkit-animation: rotation2 10s infinite linear;
  animation: rotation2 10s infinite linear;

}

@-webkit-keyframes rotation2 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes rotation2 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

#footer-img {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media (max-width: 500px) {
  #footer-link {
    padding: 30px 0;
    grid-row-gap: 0px;
  }

  #footer-link>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
}

/* */
#explorer {
  overflow-x: hidden;
  background-color: #212121;
  min-height: 100vh;
  padding-top: 200px;
  color: white;
  margin-right: auto;
  margin-left: auto;
}

#explorer video {
  -o-object-fit: fill;
  object-fit: fill;
  width: 100%;
  border-radius: 0px;
  display: block;
}

#explorer #miner-list {
  max-width: 1500px;
}

#explorer #filters>div {
  max-width: 420px;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 10px;
  border-radius: 30px;
  width: 100%;
  min-height: 300px;
  border-color: #eaba20;
  border-style: solid;
  border-width: 3px;
}

#explorer #filters>div p {
  margin-top: 10px;
  margin-bottom: 1px;
}

@media (max-width: 575px) {
  #explorer #filters {
    overflow: hidden;
    max-height: 0px;
    -webkit-transition: max-height 0.8s;
    transition: max-height 0.8s;
  }

  #explorer #filters.open {
    max-height: 1000px;
  }
}

#explorer #header {
  width: 90%;
  min-height: 100px;
  border-color: #eaba20;
  border-style: solid;
  border-width: 3px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 2%;
  margin-right: 42px !important;
}

#explorer #header #count {
  font-size: 35px;
  line-height: 32px;
  font-weight: bold;
}

#explorer #header #miners {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

#explorer .miner-item {
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 7px 6px #415e74;
  box-shadow: 0 0 7px 6px #415e74;
  border-color: #eaba20;
  border-style: solid;
  border-width: 5px;
  position: relative;
  cursor: pointer;
}

#explorer .miner-item .rank,
#explorer .miner-item .id {
  position: absolute;
  padding: 1px 10px;
  background-color: #eaba20;
  bottom: 4%;
  right: 0;
  border-radius: 4px 0 0 4px;
  color: #415e74
}

#explorer .miner-item .rank.rank,
#explorer .miner-item .id.rank {
  bottom: calc(4% + 30px + 2%);
}

#explorer #miner-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 1000;
  display: none;
}

#explorer #miner-modal.open {
  display: block;
}

#explorer #miner-modal video {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 20%;
  left: 20%;
  border: 5px solid #eaba20;
  border-radius: 0;
  border-radius: 10px;
  z-index: 1001;
  -webkit-box-shadow: -4px -4px 15px -2px #415e74, 4px 4px 15px -2px #eaba20;
  box-shadow: -4px -4px 15px -2px #415e74, 4px 4px 15px -2px #eaba20;
}

#explorer #miner-modal #miner-modal-content {
  background-color: #212121;
  width: 50%;
  height: 50%;
  top: 25%;
  bottom: 25%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 0 50px 0 50px;
  -webkit-box-shadow: 0 0 7px 6px #415e74;
  box-shadow: 0 0 7px 6px #415e74;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: calc(100% - calc(20% + 100px));
}

#explorer #miner-modal #miner-modal-content #close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

#explorer #miner-modal #miner-modal-content #close-button svg {
  fill: white;
}

#explorer #miner-modal #miner-modal-content>div:first-child {
  width: 200px;
  height: 50%;
  margin-bottom: 0;
  margin-top:auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2%;
}

#explorer #miner-modal #miner-modal-content>div:first-child img {
  /* margin-top: 200px; */
  /* width: 90%; */
  /* max-height: calc(100% - 200px); */
  /* max-width: 180px; */
}

#explorer #miner-modal #miner-modal-content>div:last-child {
  padding: 20px 30px;
  width: 100%;
}

#explorer #miner-modal #miner-modal-content>div:last-child .MuiTypography-h1 {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

#explorer #miner-modal #miner-modal-content>div:last-child span {
  color: #eaba20;
}

#explorer #miner-modal #miner-modal-content>div:last-child .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 5px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 50%;
}

@media (max-width: 900px) {
  #explorer #miner-modal #miner-modal-content>div:last-child .item {
    padding: 20px 5px;
    width: 100%;
  }
}

#explorer #miner-modal #miner-modal-content>div:last-child .item img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 6px 3px #eaba20;
  box-shadow: 0 0 6px 3px #eaba20;
  border: 3px solid #eaba20;
  padding: 2px;
}

@media (max-width: 1300px) {
  #explorer #miner-modal video {
    width: 200px;
    height: 200px;
    left: calc(50% - 100px);
    top: 3%;
  }

  #explorer #miner-modal #miner-modal-content {
    width: 70%;
    top: calc(3% + 140px);
    max-height: calc(100% - calc(3% + 160px) - 3vh);
    left: 15%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  #explorer #miner-modal #miner-modal-content::-webkit-scrollbar {
    display: none;
  }

  #explorer #miner-modal #miner-modal-content>div:first-child {
    display: none;
  }

  #explorer #miner-modal #miner-modal-content>div:last-child {
    margin-top: 60px;
  }
}

@media (max-width: 1300px) and (max-width: 1000px) {
  #explorer #miner-modal video {
    width: 160px;
    height: 160px;
    left: calc(50% - 80px);
  }

  #explorer #miner-modal #miner-modal-content {
    top: calc(3% + 100px);
  }
}

.divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.divider>div:first-child {
  width: 50%;
  height: 2px;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(#415e74));
  background-image: linear-gradient(90deg, transparent, #415e74);
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

.divider>div:last-child {
  width: 50%;
  height: 2px;
  background-image: -webkit-gradient(linear, left top, right top, from(#415e74), to(transparent));
  background-image: linear-gradient(90deg, #415e74, transparent);
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

/*# sourceMappingURL=elrondminers.css.map */